
.navbar::-webkit-scrollbar{
    display: none;
}

.navbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.nav .nav-link{
    color: rgba(46, 96, 132, 0.73) !important;
    font-weight: 500;
}

.nav .nav-link:active{
    color:#26577A !important;
    font-weight: 500;
    text-decoration: underline;
}

.nav .nav-link:hover{
    color:#26577A !important;
    font-weight: 500;
}

.btn-custom{
    width: 258px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(0, 150, 255, 0.4) 0%, rgba(0, 150, 255, 0.01) 100%);
    backdrop-filter: blur(50px);
    border:none;
    color: #FFF;
    text-decoration: none;
}

.btn-white{
    border: 1px solid black /* Black border */ !important;
    background-color: white; /* Button background */
}



.btn-custom:hover{
    background-color: #2DA3F9;
}
.btn-custom:active{
    background-color: #2DA3F9;
}

.card{
    border: none !important;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    border-radius: 20px;
}

.btn-resep{
    background-color: #2DA3F9 !important;
    outline: none !important;
    stroke: none !important;
    color: white !important;
}
.btn-resep:hover{
    background-color: #2079b8 !important;
}
/* Gaya tabel */
.table td {
    vertical-align: middle;
}

/* Gaya search bar */
.search-bar {
    display: flex;
    align-items: center;
    gap: 5px;
    max-width: 300px;
}
.table-primary th {
    background-color: #4284B3 !important;
    color: white !important;
}

.btn-primary{
    background-color: #2DA3F9;
    outline: none;
    border: none;
}

/* Gaya tombol tambah obat */
.tambah-obat-btn {
    background: #2DA3F9;
    border: none;
    padding: 12px 16px;
    margin: 16px 8px;
    display: flex;
    justify-content: start;
    align-items: center;
}

/* Gaya tombol detail */
.detail-btn {
    background: #5C97EF;
}

.detail-btn img {
    width: 20px;
    height: 20px;
    border: none;
}

/* Gaya tombol edit */
.edit-btn {
    background: #3A9C73;
}

.edit-btn img {
    width: 20px;
    height: 20px;
    border: none;
}

/* Gaya tombol hapus */
.delete-btn {
    background: #BE2323;
}

.delete-btn img {
    width: 20px;
    height: 20px;
    border: none;
}

/* Gaya pagination */
.paginate .pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
}

.paginate .pagination li {
    margin: 0 5px;
}

.paginate .pagination li a, .paginate .pagination li span {
    display: block;
    padding: 10px 15px;
    border-radius: 4px; /* Rounded corners */
    background-color: #f8f9fa; /* Light background */
    border: none;
    color: #6c757d; /* Light text */
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.paginate .pagination li a:hover {
    background-color: #e2e6ea; /* Hover effect */
    color: #007bff; /* Hover text color */
}

.paginate .pagination li.active span {
    background-color: white;
    border: 2px solid #007bff; /* Border around active button */
    color: #007bff;
}

.paginate .pagination li.disabled span, .paginate .pagination li.disabled a {
    color: #d3d3d3; /* Disabled link color */
}

.paginate .pagination li.disabled a:hover {
    background-color: #f8f9fa; /* Keep hover effect disabled */
}


/* BERANDA */
/* .info{

} */
.container-row-1{
    background: linear-gradient(180deg, #81C7FB 0%, #4C7695 100%);
    color: white;
    border-radius: 20px;
}

.container-row-2{
    background: linear-gradient(180deg, #73B2E0 0%, #3F617A 100%);
    color: white;
    border-radius: 20px;
}
.container-row-3{
    background: linear-gradient(180deg, #2E9FF1 0%, #1A5C8B 100%);
    color: white;
    border-radius: 20px;
}
.container-row-4{
    background:linear-gradient(180deg, #4990C3 0%, #23455D 100%);
    color: white;
    border-radius: 20px;
}

.form-control:focus{
    border-color: #1E98F1 !important;
    outline: none !important;
    box-shadow: none !important;
}



